cargo-registry
target
build
node_modules
package-lock.json
.idea
*.iml
.venv
.cache
.DS_Store
Podfile.lock
.vscode
.pytest_cache
runtime_android_build
*.so
*.dylib

/wrappers/python/venv/
.vscode
_build/
